header {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 100px;
}

nav ul {
 display: flex;
 gap: 10px;
}

@media (max-width: 480px) {
 header {
  padding: 20px 25px;
 }

}